UpgradeLog.htm
.vs/GestorEmpleados/FileContentIndex/90aa9515-418a-4987-bdaa-27983eb877f5.vsidx
.vs/GestorEmpleados/FileContentIndex/fde799ce-33b0-4ba1-9c5a-4b83fcb94566.vsidx
.vs/GestorEmpleados/v16/.suo
Backup1/GestorEmpleados.sln
