UpgradeLog.htm
.vs/GestorEmpleados/FileContentIndex/90aa9515-418a-4987-bdaa-27983eb877f5.vsidx
.vs/GestorEmpleados/FileContentIndex/fde799ce-33b0-4ba1-9c5a-4b83fcb94566.vsidx
.vs/GestorEmpleados/v16/.suo
Backup1/GestorEmpleados.sln
.vs/GestorEmpleados/FileContentIndex/a4b0ca2d-ace7-45dc-ae54-5de8cc7e1a91.vsidx
.vs/GestorEmpleados/FileContentIndex/e1ae133a-adda-4a1a-bcb7-01c88ce97c9d.vsidx
.vs/
